<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/css/bootstrap.css">
  <link rel="stylesheet" href="/css/global.css">

  <script src="/js/jquery-3.3.1.js" charset="utf-8"></script>
  <script src="/js/js/bootstrap.js" charset="utf-8"></script>
  <script src="/js/app.js" charset="utf-8"></script>
  <title><%= @title %></title>
</head>
<body>
  <div class="container">



   <%= erb(:'partials/navigation', :layout => false) %>

   <!-- our template content will be injected here -->
   <%= yield %>

   </div>

</body>
</html>
