
<div class="Form">
<form action="/<%= @post[:id] %>" method="post">
  <div class="">
    <label for="">Title</label>
    <input type="text" name="title" value="<%= @post[:title] %>" placeholder="Insert Title">
  </div>
  <div class="">
    <label for="">Body</label>
    <input type="text" name="body" value="<%= @post[:body] %>" placeholder="Insert Body">
  </div>
  <div class="">
    <label for="">Name</label>
    <input type="text" name="name" value="<%= @song[:name] %>" placeholder="Insert Name">
  </div>

  <div class="">
    <input type="submit" value="Save Post">
  </div>

  <% if(@post[:id] != '')%>
  <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
</div>
